.container {
    padding: 10px;
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.username {
    font-size: 1.2rem;
}

.qr {
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 80px;
    min-height: 80px;
    width: 100%;
}

.header img {
    width: 50px;
    aspect-ratio: 1;
}